<!--COVER-->
<header id="around_cover" class="cover-background">
	<div class="container-fluid transparent-layer">
		<div class="row">
			<div class="header-text">
				<h1><%= t('tours.t2') %></h1>
                <hr class="orange">
				<h5><%= t('index.around') %></h5>
			</div>
		</div>
	</div>
</header>

<section id="around_page_information">
	<div class="container-fluid">
		<div class="row container-text-align">
			<div class="col-lg-8 col-lg-offset-2">			
				<h2><%= t('around.title') %></h2>
                <hr class="dark">
                <h4><%= t('around.intro') %></h4>
			</div>
		</div>

        <div class="row">
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_arte_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/arte.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><h3><%= t('around.t1') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_castelos_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/castelos.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><%= t('around.t2') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_centro_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/centro.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><%= t('around.t3') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_palacio_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/palacio.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><%= t('around.t4') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_peregrinacao_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/peregrinacao.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><%= t('around.t5') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_templarios_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/templario.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><%= t('around.t6') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(around_xisto_path(:tour, locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/around/sq/aldeiaxisto.jpg" class="tour-image">
                            <div class='description'>  
                                <h3 class='description_content'><%= t('around.t7') %></h3>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
        
    </div>
</section>