<!--COVER-->
<header id="coimbra_cover" class="cover-background">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1>Coimbra Walks</h1>
					<p>Fall in love – step by step – with the most charming city in Portugal: Coimbra!</p>
			</div>
		</div>
	</div>
</header>

<section id="">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">			
				<h1>Our Walking Tours</h1>
                <hr class="dark">
                <p>Construímos várias rotas temáticas para que possa usufruir do melhor da "cidade do conhecimento"! Conheça aqui todos os detalhes e reserve uma visita na nossa companhia: teremos o maior gosto em recebê-lo na nossa cidade!</p>
			</div>
		</div>

        <div class="row">
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(coimbra_unesco_path(locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/coimbra/unesco.jpg" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>Unesco World Heritage</p>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(coimbra_unesco_path(locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/coimbra/fado.jpg" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>Fado</p>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(coimbra_unesco_path(locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/coimbra/gastronomic.jpg" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>Gastronomic Whims</p>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
     
        <div class="row">
            
            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(coimbra_unesco_path(locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/coimbra/jewish.jpg" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>Jewish Coimbra</p>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(coimbra_unesco_path(locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/coimbra/moonlight.jpg" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>Moonlight</p>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="tour-item-wrapper col-sm-6 col-md-4">
                <div class="tour-item">
                    <%= link_to url_for(coimbra_unesco_path(locale: I18n.locale)) do %>
                        <div class="photo-item">
                            <img src="/images/coimbra/riverside.jpg" class="tour-image" alt="goat">
                            <div class='description'>  
                                <p class='description_content'>Riverside and Tales of Love</p>  
                            </div> 
                            <div class="overlay-info">
                                <i class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

        </div>
        
    </div>
</section>