<!--COVER-->
<header id="tailored_cover" class="cover-background">
	<div class="container-fluid transparent-layer">
		<div class="row">
			<div class="header-text">
				<h1 class="breakwords"><%= t('tours.t3') %></h1>
                <hr class="orange">
				<h3><%= t('tailored.t1') %></h3>
			</div>
		</div>
	</div>
</header>

<section id="tailored_page_information">
	<div class="container-fluid container-text-align">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">			
				<h2><%= t('tailored.title') %></h2>
                <hr class="dark">
                <p><%= t('tailored.t2') %></p>
                <p><%= t('tailored.t3') %></p>
			</div>
		</div>
        
    </div>
</section>