<!--COVER-->
<header id="tailored_cover" class="cover-background">
	<div class="container-fluid transparent-layer">
		<div class="row">
			<div class="header-text">
				<h1><%= t('tours.t3') %></h1>
                <hr class="orange">
				<h5><%= t('tailored.subtext') %></h5>
			</div>
		</div>
		<div class="row arrow">
            <a class="page-scroll" href="#tailored_page_information" data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
	</div>
</header>

<section id="tailored_page_information">
	<div class="container-fluid container-text-align">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">			
				<h2><%= t('tailored.title') %></h2>
                <hr class="dark">
                <p><%= t('tailored.t1') %></p>
                <p><%= t('tailored.t2') %></p>
                <p><%= t('tailored.t3') %></p>
			</div>
		</div>
        
    </div>
</section>

<% fotos = [
	"/images/tailored/foto1.jpg",
	"/images/tailored/foto2.jpg",
	"/images/tailored/foto3.jpg",
	"/images/tailored/foto4.jpg",
	"/images/tailored/foto5.jpg",
	"/images/tailored/foto6.jpg",
	"/images/tailored/foto7.jpg",
	"/images/tailored/foto8.jpg",
	"/images/tailored/foto9.jpg",
	"/images/tailored/foto10.jpg",
	"/images/tailored/foto11.jpg",
	"/images/tailored/foto12.jpg"
] %>

<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">

            <% fotos.each do |foto| %>
                <div class="col-sm-4 tour-foto">
                    <img src=<%= foto %> class="img-responsive" alt="">
                </div>
            <% end %>

        </div>
    </div>
</section>