<!--COVER-->
<header id="tailored_cover" class="cover-background">
	<div class="container-fluid transparent-layer">
		<div class="row">
			<div class="header-text">
				<h1><%= t('tours.t3') %></h1>
                <hr class="orange">
				<p ><%= t('index.tailored') %></p>
			</div>
		</div>
	</div>
</header>

<section id="tailored_page_information">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 text-justify">			
				<h1 class="text-center"><%= t('tailored.title') %></h1>
                <hr class="dark">
                <p><%= t('tailored.t1') %></p>
                <p><%= t('tailored.t2') %></p>
                <p><%= t('tailored.t3') %></p>
			</div>
		</div>
        
    </div>
</section>