<% partners = [
    {
        nome: "PASSEITE",
        morada: "Rua da Sota, nr. 44-48",
        telefone: "00351 910 718 182",
        url: "www.passeite.com",
        descricao_pt: "O nome PASSEITE vem de 'azeite da família Passos'. Os proprietários, Gui e Marije são apaixonados pela produção do azeite pois gerem uma pequena quinta familiar perto de Condeixa. A Marije é especialista em azeite (sommelier) e o Gui descende de uma família de negócios no ramo da restauração.\nComo este casal reconhece a qualidade do azeite português decidiram criar um negócio que promovesse esta indústria, abrindo então um pequeno restaurante para demonstrar a diferença que o azeite faz nas confeções gastronómicas. Não no conceito de estrela Michelin mas num conceito acolhedor, esta taberna recorre a comida local e maioritariamente orgânica. As refeições do PASSEITE não são confecionadas com manteiga, provando que o azeite pode tornar qualquer comida deliciosa! Com a sua pequena equipa, oferecem menus sazonais e têm mais de 20 qualidades de azeite provenientes de pequenos produtores oriundos de todo o país. É um restaurante que disponibiliza opções vegetarianas e vegan.",
        descricao_esp: "El nombre PASSEITE viene del 'aceite de la família Passos'. A los propietarios Gui y Marije les encanta la producción del aceite, en parte porque tienen una pequeña granja familiar cerca de Condeixa.\nMarije es una experta en aceite (sommelier) y Gui viene de una família con negocios de restaurantes.\nComo reconocen la calidad del aceite portugués decidiran dedicarse a un negocio que promovese esta industria. Abriran entoncés un pequeño restaurante que mostre como el aceite mejora el sabor de los platos. No con un concepto de estrella Michelan pero si con un concepto acogedor, esta taberna utiliza comida local y mayoritariamente orgánica. ¡No se utiliza mantequilla en su cocina, provando que el aceite puede hacer sabrosa cualquier comida! Con su pequeño equipo, ofrecen menus sazonales y tienen más de 20 calidades de aceite de pequeños productores de todo el país. Es un restaurante que dispone de opciones vegetarianas y veganas.",
        descricao_en: "The name PASSEITE comes from 'azeite da familia Passos'. The owners, Gui and Marije fell in love with the olive oil production and took over the small family farm near Condeixa. Marije is an olive oil sommelier and Gui comes from a family being in the restaurant business for all their lives.\nSince they know the quality of the Portuguese olive oils they decided to dedicate their business to promote this industry, opening a small restaurant showing how olive oil makes a difference on your plate. Not in a Michelin star kind of way but in a warm and cosy tavern using local and mostly organic food. There is no butter in their kitchen, proving that with olive oil you can make almost everything taste delicious! With their small team they offer seasonal menus and have over 20 different kinds of olive oils from small producers from all over Portugal. They are vegan and vegetarian friendly."
    },
    {
        nome: "DUX- TABERNA URBANA",
        morada: "Rua Dr. Manuel Rodrigues nr. 39",
        telefone: "00351 239 093 723",
        url: "www.duxrestaurante.com",
        descricao_pt: "O DUX TABERNA URBANA é um restaurante que pretende encanar o espírito das verdadeiras tabernas urbanas, e ainda que tenha em comum com estes espaços históricos da cidade a variedade de petiscos e vinhos, assume uma identidade própria!\nAqui pode provar os mais variados petiscos tradicionais portugueses, como por exemplo as pataniscas de bacalhau ou um delicioso pica-pau e também petiscos de criação como a farinheira com pêra caramelizada, os cogumelos com linguiça e ovo e as tiras da vazia com molho de queijo da Serra. Como qualquer boa taberna, dispõe de uma carta de vinhos com dezenas de referências, que espelha bem a variedade e a qualidade dos vinhos portugueses, podendo optar pelo vinho a copo de forma a poder harmonizar melhor com os petiscos.",
        descricao_esp: "El DUX TABERNA URBANA es un restaurante que pretende encarnar el espíritu de las verdaderas tabernas urbanas, y aunque tenga en común con estos espacios históricos de la ciudad la variedad de aperitivos e vinos, asume una identidad propia!\nAquí puede probar los más variados aperitivos tradicionales portugueses, como por ejemplo las patrullas de bacalo o un delicioso 'pica-pau' y también petiscos de criación como la 'farinheira' (salchicha) con pera caramelizada, los champiñones con salchicha y huevo e las 'tiras da vazia' (carne de vaca) con salsa de quejo de la Sierra. Como cualquier buena taberna dispone de una carta de vinos con decenas de referencias, que refleja bien la variedad y calidad de los vinos portugueses, podendo seleccionar por un vaso de vino con el fin de ser capaz de armonizar mejor con aperitivos.",
        descricao_en: "DUX TABERNA URBANA is a restaurant that intends to enchant the spirit of the true urban taverns, and although it has in common with these historical spaces of the city the variety of snacks and wines, it assumes its own identity!\nHere you can taste the most varied traditional Portuguese snacks, such as fried cod or a delicious woodpecker and also creative snacks such as 'farinheira' (traditional sausage) with caramelized pear, mushrooms with sausage and egg and the 'vazia' (beef) with sauce of 'Serra da Estrela' cheese. Like any good tavern, this place has a wine list with dozens of references, which mirrors well the variety and quality of Portuguese wines, allowing you to choose wine by glass in order to better harmonize with the snacks."
    },
    {
        nome: "CANTINHO DA MARISOL",
        morada: "Adro de Cima, Loja 1",
        telefone: "00351 961 805 506",
        url: "facebook.com/cantinho.da.marisol",
        descricao_pt: "O CANTINHO DA MARISOL abriu pelas mãos de uma arquiteta e designer de interiores, que ao dar aulas de olaria a crianças com deficiência apercebeu-se que poderia também proporcionar experiências de terapia pela arte à população local.\nNo decorrer destas vivências surgiu a ideia de abrir um espaço com nome próprio na zona histórica da cidade! Aqui a Marisol trabalha as peças ao vivo e informa as pessoas da arte do barro como arte terapêutica e da importância patrimonial da cerâmica de Coimbra. Não perca uma visita a este espaço único na Baixa de Coimbra... e leve uma recordação consigo!",
        descricao_esp: "El CANTINHO DA MARISOL abre por las manos de una arquitecta y diseñadora de interiores, que al dar clases de alfarería a niños con discapacidad se dio cuenta que podría también proporcionar experiencias de terapia a la población local recorriendo al arte.\n¡En el curso de estas vivencias surgió la idea de abrir un espacio con nombre propio en la zona historica de la ciudad! Aquí, Marisol trabaja las piezas en vivo e informa a las personas del arte del barro como arte terapéutico y de la importancia patrimonial de la cerámica de Coimbra. No pierda una visita a este espacio unico en la Baja de Coimbra… ¡y lleve un recuerdo consigo!",
        descricao_en: "CANTINHO DA MARISOL opened by the hands of an architect and interior designer, who in giving pottery classes to children with disabilities realized that she could also provide experiences of art therapy to the local population.\nIn the course of these experiences came the idea of opening a space with its own name in the historic area of the city! Here Marisol works the pieces live and informs the people that visit her of the art of clay as therapeutic art, and the heritage importance of the ceramics of Coimbra. Do not miss a visit to this unique space in downtown Coimbra... and take a souvenir with you!"
    },
    {
        nome: "FANGAS MERCEARIA & BAR",
        morada: "Rua Dr. Fernandes Tomás, nr. 45/49",
        telefone: "00351 934 093 636",
        url: "facebook.com/FangasMerceariaBar",
        descricao_pt: "O FANGAS MERCEARIA & BAR está localizado no coração da Baixa de Coimbra, e assume-se como um espaço onde podemos partilhar momentos relaxantes à medida que apreciamos a deliciosa sangria caseira, a seleção cuidada de vinhos, conservas e enchidos nacionais, as tostas saborosas e outros imperdíveis petiscos salgados e doces, incluindo opções vegetarianas.\nEntre visitas a ruas e monumentos centenários, aqui encontrará sabores portugueses em ligeiras refeições que se pode degustar durante a tarde e noite!",
        descricao_esp: "El FANGAS MERCEARIA & BAR está localizado en el corazón de la Baja de Coimbra, y es un espacio donde podemos compartir momentos relajantes mientras apreciamos la deliciosa sangría casera, la selección cuidada de vinos, conservas y salchichas nacionales, las tostadas sabrosas y otros imperdibles aperitivos salados y dulces, incluyendo opciones vegetarianas.\nEntre visitar las calles y monumentos centenarios, aquí encontrará sabores portugueses en ligeras comidas que se pueden saborear durante la tarde y la noche.",
        descricao_en: "FANGAS MERCEARIA & BAR is located in the heart of the Historical Center of Coimbra, and it’s a place where we may share relaxing moments and delight ourselves with the delicious homemade sangria, a careful selection of wines, preserves and national sausages, tasty toasts and snacks and other unmissable savoury and sweets, including vegetarian options.\nAlong with visits to monuments and centuries-old streets, here you will find Portuguese flavours in light meals that you can enjoy in the afternoon or evening!"
    },
    {
        nome: "PASTELARIA BRIOSA & BRIOSINHA",
        morada: "Rua Ferreira Borges, nr. 211 & 129",
        telefone: "00351 239 821 617",
        url: "www.pastelariabriosa.com",
        descricao_pt: "Localizada numa das entradas de excelência para o Centro Histórico de Coimbra, no Largo da Portagem junto à emblemática estátua do 'Mata Frades', a PASTELARIA BRIOSA é uma das mais antigas e conceituadas da cidade, e disponibiliza desde 1955 produtos tradicionais!\nAqui poderá encontrar uma seleção de doçaria conventual regional, assim como apreciar uma sopa, snack ou apenas um sumo natural. Este espaço, completamente remodelado no inverno de 2017 dispõe ainda de uma agradável esplanada onde dá vontade de parar um bocado e contemplar o charme da cidade… e se pretender levar uma recordação 'doce' consigo poderá visitar também a 'Briosinha', pequeno espaço de recordações e 'take-away' localizado na rua pedonal principal da cidade.",
        descricao_esp: "¡Situada en una de las entradas principales para el Centro Historico de Coimbra, en el 'Largo da Portagem' cerca de la estatua del 'Mata Monjes', la PASTELERÍA BRIOSA es una de las más antiguas y conocidas de la ciudad, y ofrece desde 1955 productos tradicionales!\nAquí podrá encontrar una selección de dulces conventuales regionales, disfrutar de una sopa, aperitivo o apenas un zumo natural. Este espacio, completamente renovado en el invierno de 2017 dispone aún de una terraza donde da ganas de parar un poco y contemplar el encanto de la ciudad… y si quiere llevar un recuerdo 'dulce' consigo podrá visitar también la 'Briosinha', un pequeño espacio de recuerdos y 'take-away' sitaudo en la calle peatonal principal de la ciudad.",
        descricao_en: "Located in one of the entrances of excellence for the Historic Center of Coimbra, in Largo da Portagem next to the emblematic statue of 'Mata Frades', PASTELARIA BRIOSA is one of the oldest and most prestigious of the city, and has been offering traditional products since 1955!\nHere you can find a selection of regional conventual sweets, as well as enjoy a soup, snack or just a natural juice. This space, completely refurbished in the winter of 2017, also has a pleasant terrace where you can stop for a while and contemplate the charm of the city... and if you want to take a sweet memory home you can also visit 'Briosinha', a small space of memorabilia and take-away located on the main pedestrian street of the city."
    }
]%>

<!--COVER-->
<header id="partners-cover" class="cover-background-small">
    <div class="container-fluid transparent-layer">
        <div class="row breakwords special-text-size">
            <div class="header-text">
                <h1> 
					<%= t('general.partners') %>
                </h1>
            </div>
        </div>

    </div>
</header>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                <% partners.each do |partner| %>
                    <div class="partner-info">
                        <h4>
                            <a url=<%= partner[:url] %> >
                                <%= partner[:nome] %>
                            </a>
                        </h4>
                        <p class="small"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= partner[:morada] %> | <i class="fa fa-phone" aria-hidden="true"></i> <%= partner[:telefone] %></p>
                        <% if I18n.locale == :pt %>
                            <%=raw partner[:descricao_pt].gsub(/\n/, '<br/>') %>
                        <% elsif I18n.locale == :esp %>
                            <%=raw partner[:descricao_esp].gsub(/\n/, '<br/>') %>
                        <% else %>
                            <%=raw partner[:descricao_en].gsub(/\n/, '<br/>') %>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
