<!--COVER-->
<header id="cover" class="cover-background">
	<div class="container-fluid">
		<div class="row">
			<div class="header-text">
				<h1 id="homeHeading">
					<%= t('index.hello') %>
				</h1>
                <hr class="orange">
				<h3><%= t('index.intro') %></h3>
			</div>
		</div>
        <div class="row arrow">
            <a class="page-scroll" href="#about" data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
	</div>
</header>

<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<img src="\images\logo\gowalks_logo_mini.png" class="img-responsive center-block" alt="GOwalks logo" width="50%">
                <hr class="orange">
				<h3><%= t('index.gowalks') %></h3>

                <div class="about-links">
                    
                </div>
                <a class="page-scroll" href="#coimbra-tour" data-turbolinks="false">
                    <h3><i class="fa fa-angle-down fa-5x"></i></h3>
                </a></li>
			</div>
		</div>
	</div>
</section>

<section id="coimbra-tour" class="cover-background">
    <div class="container-fluid cover-tour transparent-layer">
        <div class="row cover-text">
            <div>
                <h2><%= t('tours.t1') %></h2>
                <hr class="orange">
                <h3><%= t('index.coimbra') %></h3>
                <%= link_to t('index.button'), url_for(tour_coimbra_path(locale: I18n.locale)), class: "btn btn-lg btn-customize"%>
            </div>
        </div>
        <div class="row arrow">
            <a class="page-scroll" href="#around-coimbra-tour" data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
    </div>
</section>
<section id="around-coimbra-tour" class="cover-background">
    <div class="container-fluid cover-tour transparent-layer">
        <div class="row cover-text">
            <div>
                <h2><%= t('tours.t2') %></h2>
                <hr class="orange">
                <h3><%= t('index.around') %></h3>
                <%= link_to t('index.button'), url_for(tour_around_path(locale: I18n.locale)), class: "btn btn-lg btn-customize"%>
            </div>
        </div>
        <div class="row arrow">
            <a class="page-scroll" href="#tailored-tour" data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
    </div>
</section>
<section id="tailored-tour" class="cover-background">
    <div class="container-fluid cover-tour transparent-layer">
        <div class="row cover-text ">
            <div>
                <h2><%= t('tours.t3') %></h2>
                <hr class="orange">
                <h3><%= t('index.tailored') %></h3>
                <%= link_to t('index.button'), url_for(tour_tailored_path(locale: I18n.locale)), class: "btn btn-lg btn-customize"%>
            </div>
        </div>
        <div class="row arrow">
            <a class="page-scroll" href="#reservations" data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
    </div>
</section>

