<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="tours, walking, Portugal" />
	<meta name="description" content="Walking tours around Portugal with a local." />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:site_name" content="Go Walks Portugal"/>
    <meta property="og:title" content="Walk alongside us."/>
    <meta property="og:description" content="Walking tours around Portugal with a local."/>
    <meta property="og:image" content="images/logo/gowalks.png">
    <meta property="og:url" content="http://gowalksportugal.com/">
    <meta property="og:type" content="site"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Go Walks Portugal</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#navigationbar" data-offset="50">

<% available_languages = [
	{language: "English", dim: :en},
	{language: "Português", dim: :pt},
] %>

<% content_for :language_option do %>
	<li role="presentation" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe" aria-hidden="true"></i>  <span class="uppercaseText"><%=I18n.locale%></span> <span class="caret"></span></a>
		<ul class="dropdown-menu">
			<% available_languages.each do |option| %>
				<% if I18n.locale == option[:dim] %>
				<li>
					<%= link_to url_for(locale: option[:dim]) do %>
					<%= option[:language] %> <i class="fa fa-check" aria-hidden="true"></i>
					<% end %>
				</li>
				<% else %>
					<li><%= link_to option[:language], url_for(locale: option[:dim]) %></li>
				<% end %>   
			<% end %>
		</ul>
	</li>
<% end %>


<!--NAVIGATION-->
<nav id="navigationbar" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<%= link_to image_tag('/images/logo/gowalks_logo_mini.png', :size => "65x50"), url_for(root_path(locale: I18n.locale))  %>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">
				<li class="navOption">
					<% if controller_name == "index" %>
						<a class="page-scroll" href="#about" data-turbolinks="false">
							<%= t('menu.op1') %>
						</a>
					<% else %>
						<%= link_to t('menu.op1'), url_for(root_path(anchor: "about", locale: I18n.locale)), :class => "page-scroll", :"data-turbolinks" => false %>
					<% end %>
				</li>

				<li class="navOption dropdown dropdown-open">
					<% if controller_name == "index" %>
						<a class="page-scroll" href="#coimbra-tour" data-turbolinks="false">
							<%= t('menu.op2') %>
						</a>
					<% else %>
						<%= link_to t('menu.op2'), url_for(root_path(anchor: "coimbra-tour", locale: I18n.locale)), :class => "page-scroll", :"data-turbolinks" => false %>
					<% end %>
					<ul class="dropdown-menu">
						<li><%= link_to t('tours.t1'), url_for(tour_coimbra_path(locale: I18n.locale))  %></li>
						<li><%= link_to t('tours.t2'), url_for(tour_around_path(locale: I18n.locale)) %></li>
						<li><%= link_to t('tours.t3'), url_for(tour_tailored_path(locale: I18n.locale)) %></li>
					</ul>
					
				</li>

				<li class="navOption">
					<% if controller_name == "index" %>
						<a class="page-scroll" href="#reservations" data-turbolinks="false">
							<%= t('menu.op5') %>
						</a>
					<% else %>
						<%= link_to t('menu.op5'), url_for(root_path(anchor: "reservations", locale: I18n.locale)), :class => "page-scroll", :"data-turbolinks" => false %>
					<% end %>
				</li>

				<%= yield :language_option %>

			</ul>

		</div>
		<!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<%= yield %>

<section class="darkBG" id="reservations">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= t('reservations.title') %></h2>
                <hr class="orange">
                
                <h3 class="breakwords"><%= t('reservations.text') %></h3>

                <h3 class="breakwords">
                    <a href="mailto:booking@gowalksportugal.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> booking@gowalksportugal.com</a>
                </h3>
                <h3 class="breakwords">
                    <a href="tel:00351910163118"><i class="fa fa-phone" aria-hidden="true"></i> +351 910 163 118</a>
                </h3>
            </div>

            <div class="col-lg-8 col-lg-offset-2 text-center social-media">
                <div class="row">

                <ul class="list-inline banner-social-buttons">
                    <li class="social-link">
                        <a href="https://www.facebook.com/pg/GOwalks" class="btn btn-customize btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.instagram.com/gowalksportugal/" class="btn btn-customize btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                    </li>
                    <li class="social-link">
                        <a href="https://www.tripadvisor.com.br/Attraction_Review-g189143-d3326794-Reviews-GOwalksportugal-Coimbra_Coimbra_District_Central_Portugal.html" class="btn btn-customize btn-lg"><i class="fa fa-tripadvisor fa-fw"></i> <span class="network-name">Tripadvisor</span></a>
                    </li>
                </ul>
            </div>
            </div>
        </div>

    </div>
</section>

<!-- Footer -->
<footer class="text-center">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<%= t('footer.made') %> <i class="fa fa-heart" aria-hidden="true"></i> <%= t('footer.by') %> <a href="http://www.inescoelho.info/">Inês Coelho</a>
			</div>
		</div>
	</div>
</footer>

<!-- Back to the top -->
<span id="back-to-top-button" class="position-button hidden">
	<a href="#top" id ="backToTopBtn" class="btn" role="button">
        <i class="fa fa-angle-up fa-3x"></i><span class="sr-only">Go to top</span>
    </a>
</span><!-- /top-link-block -->

<!-- Back to menu -->
<span id="back-to-menu-button" class="position-button hidden">
    <% if controller_name == "coimbra" %>
        <%= link_to fa_icon("th 2x"), url_for(tour_coimbra_path(anchor: "coimbra_page_information", locale: I18n.locale)), class: "btn", id: "backToMenuBtn"%>
    <% end %>
    <% if controller_name == "around" %>
        <%= link_to fa_icon("th 2x"), url_for(tour_around_path(anchor: "around_page_information", locale: I18n.locale)), class: "btn", id: "backToMenuBtn"%>
    <% end %>
</span><!-- /top-link-block -->

<script type="text/javascript">
    $( document ).ready(function() {
        checkScroll();

        $(".dropdown-toggle").dropdown();
    })

	/**
	 * Listen to scroll to change header opacity class
	 */
	function checkScroll(){
	    var startY = $('.navbar').height() * 2; //The point where the navbar changes in px

	    if($(window).scrollTop() > startY){
	        $('.navbar').addClass("scrolled");
	    }else{
	        $('.navbar').removeClass("scrolled");
	    }
	}

	if($('.navbar').length > 0){
	    $(window).on("scroll load resize", function(){
	        checkScroll();
	    });

	$(window).on('resize', function() {
	  if ($(window).width() < 753) {
	    $('.dropdown-open').addClass('open');
	  } else {
	    $('.dropdown-open').removeClass('open');
	  }
	});
	
	if ($(window).width() < 753) {
	    $('.dropdown-open').addClass('open');
	} else {
	    $('.dropdown-open').removeClass('open');
	}

	//back to the top button
	// Only enable if the document has a long scroll bar
	// Note the window height + offset
	if ( ($(window).height() + 100) < $(document).height() ) {
	    $('#back-to-top-button').removeClass('hidden').affix({
	        // how far to scroll down before link "slides" into view
	        offset: {top:100}
	    });
	}
	$('#backToTopBtn').click(function(){
        $('html,body').animate({scrollTop:0},'slow');return false;
    });

        //back to menu button
    // Only enable if the document has a long scroll bar
    // Note the window height + offset
    if ( ($(window).height() + 100) < $(document).height() ) {
        $('#back-to-menu-button').removeClass('hidden').affix({
            // how far to scroll down before link "slides" into view
            offset: {top:100}
        });
    }
}
</script>

</body>
</html>
