<!--COVER-->
<header id=<%= id[:cover]%> class="cover-background">
    <div class="container-fluid transparent-layer">
        <div class="row special-text-size">
            <div class="header-text">
                <h1> 
                    <% if I18n.locale == :en %>
                        <%= cover_en[:title] %> 
                    <% else %>
                        <%= cover_pt[:title]%>
                    <% end %>
                </h1>
                <hr class="orange">
                <h5> 
                    <% if I18n.locale == :en %>
                        <%= cover_en[:subtitle] %> 
                    <% else %>
                        <%= cover_pt[:subtitle]%>
                    <% end %>
                </h5>
            </div>
        </div>
        <div class="row arrow">
            <a class="page-scroll" href=#<%= id[:details]%> data-turbolinks="false">
                <h3><i class="fa fa-angle-down fa-5x"></i></h3>
            </a></li>
        </div>
    </div>
</header>

<section id=<%= id[:details]%> class="tour-details">
    <div class="container-fluid">

        <h5 class="text-center bold">
            <%= t('details.details') %>
        </h5>
        <hr class="orange">

        <div class="row text-center">
            <div class="col-sm-4">
                <p><i class="fa fa-clock-o fa-3x" aria-hidden="true"></i></p>
                <h4><b><%= t('details.schedule') %></b></h4>
                <p><small>
                    <% if I18n.locale == :en %>
                        <%= data_en[:reservation] %>
                    <% else %>
                        <%= data_pt[:reservation]%>
                    <% end %>
                </small></p>       
            </div>
            <div class="col-sm-4">
                <p><i class="fa fa-eur fa-3x" aria-hidden="true"></i></p>
                <h4><b><%= t('details.price') %></b></h4> 
                <p><small>
                    <% if I18n.locale == :en %>
                        <%= data_en[:cost] %></br> 
                    <% else %>
                        <%= data_pt[:cost] %></br> 
                    <% end %>
                </small></p>
            </div>
            <div class="col-sm-4">
                <p><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></p>
                <h4><b><%= t('details.meeting') %></b></h4> 
                <p><small>

                    <% if I18n.locale == :en %>
                        <% case meeting_point[:name] 
                            when "Largo da Portagem" %>
                                 <%= link_to "Largo da Portagem", "https://goo.gl/maps/TuzHNMiDBZL2" %>  – find our <i>#Gowalksportugal Coimbra City Tours</i> flag in the garden on the back of the statue
                            <% when "Casa Medieval" %>
                                For sale at <%= link_to "Casa Medieval", "https://goo.gl/maps/iYCroSwkn2Q2" %>
                            <% when "Combinar" %>
                                To be agreed with the client (hotel or point of interest in Coimbra’s city center)
                        <% end %>
                    <% else %>
                        <% case meeting_point[:name] 
                            when "Largo da Portagem" %>
                                <%= link_to "Largo da Portagem", "https://goo.gl/maps/TuzHNMiDBZL2" %> – encontre a nossa bandeira <i>#Gowalksportugal Coimbra City Tours</i> no jardim atrás da estátua
                            <% when "Casa Medieval" %>
                                À venda na <%= link_to "Casa Medieval", "https://goo.gl/maps/iYCroSwkn2Q2" %>
                            <% when "Combinar" %>
                                A combinar com os clientes (alojamento ou ponto de interesse no centro da cidade de Coimbra)
                        <% end %>
                    <% end %>

                </small></p>
            </div>
        </div>
    </div>
</section>

<section id=<%= id[:info]%> class="tour-info lighterBG">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">  

                <h5 class="text-center bold"> 
                    <%= t('details.title') %>
                </h5>

                <hr class="orange">

                <!--DESCRIPTION-->
                <div class="tour-description">
                    <% if I18n.locale == :en %>
                        <p><%= text_en[:intro] %> 
                        <% text_en[:more].each do |text| %>
                            <p><%= text %></p>
                        <% end %>
                    <% else %>
                        <p><%= text_pt[:intro] %> 
                        <% text_pt[:more].each do |text| %>
                            <p><%= text %></p>
                        <% end %>
                    <% end %>
                    
                    <button type="button" class="btn btn-link" onclick="readLessFunction()">
                        <b class="orange-color"><%= t('details.readless') %> <i class="fa fa-caret-up" aria-hidden="true"></i></b>
                    </button>
                </div>
                <div class="tour-description-lead">
                    <% if I18n.locale == :en %>
                        <p><%= text_en[:intro] %> 
                    <% else %>
                        <p><%= text_pt[:intro] %> 
                    <% end %>

                    <button type="button" class="btn btn-link" onclick="readMoreFunction()">
                        <b class="orange-color"><%= t('details.readplus') %> <i class="fa fa-caret-down" aria-hidden="true"></i></b>
                    </button>
                </p>
                </div>
                <br> 

                <!--POI-->
                <% if !poi.blank? %>

                    <h4 class="orange-color uppercaseText"><b><%= t('details.poi') %></b></h4>
                        
                    <% if I18n.locale == :en %>
                        <p>
                            <% poi[:list_en].each do |poi_desc| %>
                                <%= poi_desc %> 
                                <% if poi_desc != poi[:list_en].last %>
                                    <b class="orange-color"> – </b>
                                <%end%>    
                            <%end%>
                        </p>
                    <% else %>
                        <p>
                            <% poi[:list_pt].each do |poi_desc| %>
                                <%= poi_desc %> 
                                <% if poi_desc != poi[:list_pt].last %>
                                    <b class="orange-color"> – </b>
                                <%end%>    
                            <%end%>
                        </p>
                    <% end %>

                <%end%>

                <% if !poi2.blank? %>

                    <div id="poi2">
                        <p class="orange-color"><b>
                            <% if I18n.locale == :en %>
                                <%= poi2[:title_en] %>
                            <% else %>
                                <%= poi2[:title_pt] %>
                            <% end %>
                        </b></p>
                            
                        <% if I18n.locale == :en %>
                            <p>
                                <% poi2[:list_en].each do |poi_desc| %>
                                    <%= poi_desc %> 
                                    <% if poi_desc != poi2[:list_en].last %>
                                        <b class="orange-color"> – </b>
                                    <%end%>    
                                <%end%>
                            </p>
                        <% else %>
                            <p>
                                <% poi2[:list_pt].each do |poi_desc| %>
                                    <%= poi_desc %> 
                                    <% if poi_desc != poi2[:list_pt].last %>
                                        <b class="orange-color"> – </b>
                                    <%end%>    
                                <%end%>
                            </p>
                        <% end %>

                    </div>

                <%end%>

                <% if !icon.empty? %>
                    <div id="tour-icon" class="text-center">
                        <% icon.each do |icon_item| %>
                            <% case icon_item 
                                when 1 %>
                                    <% @src = "/images/icons/icons-01.png"%>
                                    <% @txt_pt = "História Medieval" %>
                                    <% @txt_en = "Medieval History" %>
                                <% when 2 %>
                                    <% @src = "/images/icons/icons-02.png"%> 
                                    <% @txt_pt = "Lendas de Amor" %>
                                    <% @txt_en = "Tales of Love" %>
                                <% when 3 %>
                                    <% @src = "/images/icons/icons-03.png"%> 
                                    <% @txt_pt = "Património da Humanidade" %>
                                    <% @txt_en = "World Heritage" %>
                                <% when 4 %>
                                   <% @src = "/images/icons/icons-04.png"%> 
                                    <% @txt_pt = "Música e Fado de Coimbra" %>
                                    <% @txt_en = "Music & Fado Coimbra" %>
                                <% when 5 %>
                                    <% @src = "/images/icons/icons-05.png"%> 
                                    <% @txt_pt = "Herança Judaica" %>
                                    <% @txt_en = "Jewish Heritage" %>
                                <% when 6 %>
                                    <% @src = "/images/icons/icons-06.png"%> 
                                    <% @txt_pt = "Experiências Personalizadas" %>
                                    <% @txt_en = "Tailored Experiences" %>
                                <% when 7 %>
                                    <% @src = "/images/icons/icons-07.png"%> 
                                    <% @txt_pt = "Beira Rio" %>
                                    <% @txt_en = "Riverside" %>
                                <% when 8 %>
                                    <% @src = "/images/icons/icons-08.png"%> 
                                    <% @txt_pt = "Gastronomia & Vinho & Cerveja" %>
                                    <% @txt_en = "Gastronomy & Wine & Beer" %>
                                <% when 9 %>
                                    <% @src = "/images/icons/icons-09.png"%> 
                                    <% @txt_pt = "Aldeias Históricas & Aldeias de Xisto" %>
                                    <% @txt_en = "Historical Villages & Xisto Villages" %>
                                <% when 10 %>
                                    <% @src = "/images/icons/icons-10.png"%> 
                                    <% @txt_pt = "Legado Romano" %>
                                    <% @txt_en = "Roman Legacy" %>
                                <% when 11 %>
                                    <% @src = "/images/icons/icons-11.png"%> 
                                    <% @txt_pt = "Luar" %>
                                    <% @txt_en = "Moonlight" %>
                            <% end %>


                            <% if I18n.locale == :en %>
                                <% @txt =  @txt_en %>
                            <% else %>
                                <% @txt =  @txt_pt %>
                            <% end %>

                            <%= image_tag @src, size: "50", title: @txt, 'data-toggle' => 'tooltip', 'data-placement' => 'bottom' %>
                        <% end %>
                    </div>
                <%end%>

            </div>
        </div>
    </div>
</section>

<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">

            <% fotos.each do |foto| %>
                <div class="col-sm-4 tour-foto">
                    <img src=<%= foto %> class="img-responsive" alt="">
                </div>
            <% end %>

        </div>
    </div>
</section>

<!--OPTIONAL INFORMATION-->
<% if !optional.blank? %>
    <section class="tour-optional">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">  

                    <h4 class="orange-color uppercaseText"><b><%= t('details.opt') %></b></h4>

                    <div class="optional-info">
                        <% if I18n.locale == :en %>
                            <p><%= optional[:lead_en] %> 
                            <% optional[:optional_en].each do |text| %>
                                <p><%= text %></p>
                            <%end%>
                        <% else %>
                            <p><%= optional[:lead_pt] %> 
                            <% optional[:optional_pt].each do |text| %>
                                <p><%= text %></p>
                            <%end%>
                        <% end %>
                        
                        <button type="button" class="btn btn-link" onclick="readLessFunction2()">
                            <b class="orange-color"><%= t('details.infoless') %> <i class="fa fa-caret-up" aria-hidden="true"></i></b>
                        </button>
                    </div>
                    <div class="optional-info-lead">
                        <% if I18n.locale == :en %>
                            <p><%= optional[:lead_en] %> 
                        <% else %>
                            <p><%= optional[:lead_pt] %> 
                        <% end %>

                        <% if optional[:optional_pt].size > 0 %>
                            <button type="button" class="btn btn-link" onclick="readMoreFunction2()">
                                <b class="orange-color"><%= t('details.infoplus') %> <i class="fa fa-caret-down" aria-hidden="true"></i></b>
                            </button>
                        <% end %>
                    </p>
                    </div>
                    <br>  

                </div>
            </div>
        </div>
    </section>
<% end %>


<script type="text/javascript">
    function readMoreFunction() {
        var x = document.getElementsByClassName("tour-description-lead")[0];
        x.style.display = 'none';

        var y = document.getElementsByClassName("tour-description")[0];
        y.style.display = 'block';
    }
    function readLessFunction() {
        var x = document.getElementsByClassName("tour-description-lead")[0];
        x.style.display = 'block';

        var y = document.getElementsByClassName("tour-description")[0];
        y.style.display = 'none';
    }

    function readMoreFunction2() {
        var x = document.getElementsByClassName("optional-info-lead")[0];
        x.style.display = 'none';

        var y = document.getElementsByClassName("optional-info")[0];
        y.style.display = 'block';
    }
    function readLessFunction2() {
        var x = document.getElementsByClassName("optional-info-lead")[0];
        x.style.display = 'block';

        var y = document.getElementsByClassName("optional-info")[0];
        y.style.display = 'none';
    }

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip(); 
    });

</script>